body {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-around;
  background-color: #ffc017;
  position: sticky;
  top: 30px;
}

.nav-img-container {
  display: flex;
  align-items: center;
}

.nav-img-container img {
  width: 10em;
  height: 3em;
}

.ul-container ul {
  height: 100%;
  width: 32em;
  font-size: 0.9em;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ul-container li a {
  text-decoration: none;
  color: black;
}

#button-ul a {
  background-color: black;
  color: white;
  height: 0.5em;
  width: 6em;
  padding: 1em;
  border-radius: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MAIN*/
.sup-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffc017;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.text-container-sup-main {
  background-color: #ffc017;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 17em;
}

.text-container-sup-main h2 {
  font-size: 6.5em;
  margin-bottom: 30px;
}

.text-container-sup-main p {
  font-size: 1.5em;
  width: 445px;
}

.text-container-sup-main button {
  background-color: black;
  color: white;
  width: 17em;
  height: 3em;
  border-radius: 50px;
  margin-top: 3em;
}
/******************ARTICLE-TOP************************/
#article-1 {
  width: 100%;
  border: 1px solid black;
}
#article-top {
  margin: 0 16em;
}

/****************TOP-SUP***********************/
#top-sup,
#top-bottom {
  display: flex;
  justify-content: space-evenly;
}

.top-sup-left,
.top-sup-bottom,
.top-sup-right {
  margin: 2em 0;
  display: flex;
}

.top-sup-left img,
.top-sup-bottom img {
  border-radius: 100%;
  width: 1.3em;
}

.top-sup-right img {
  border-radius: 10%;
  width: 1.3em;
}

.top-sup-left p,
.top-sup-bottom p,
.top-sup-right p {
  margin: 0.7em 0;
}
.img-span-container {
  display: flex;
  align-items: center;
}

.img-span-container img {
  margin-right: 10px;
}

.img-span-container span {
  font-weight: 450;
  font-size: 0.8em;
}

.img-span-container p {
  font-weight: bold;
}

.p-bold {
  font-weight: bold;
  width: 20em;
}

.number-container {
  font-size: 2em;
  color: #80808052;
  font-weight: bold;
  margin-right: 0.5em;
}

.p-article-top-container {
  margin-left: 1em;
}

.container {
  margin-right: 2em;
}

/**********************ARTICLE-BOTTOM*********************************/

/*********ARTICLE-1****************/
.article-bottom-1 {
  display: flex;
  margin: 4em 17.5em;
}

.img-span {
  width: 28em;
}

.img-span img {
  border-radius: 100%;
  width: 1.3em;
}

.img-span span {
  font-weight: 450;
  font-size: 0.8em;
}

.img-span p {
  margin: 0.7em 0;
}

.img-article {
  width: 12em;
  margin-left: 2em;
  height: 100%;
}
/***************************************************/

/**********************************ARTICLE-2************************************/
